/*CSS for the sprite.HTML*/
/*#divId
{
   border:solid 1px #000;
   width:223px;
    height:446px;
	
}*/
.mario
{
    display:inline-block;
    width: 111px;
    height: 223px;
    background-image:url(./spriteMarioV1.png);
    /* border: 1px solid gray;*/
}
#marioWalk {
    position: absolute;
    top: 1%;
    left: 24%;
    
}
#marioJump{
	position: absolute;
	left: 48%;
	top: 24%;
}

/* body {
	background-color: #dacccc;
} */
.bug{
	display:inline-block;
	height: 111px;
	width: 109px;
	background-image:url(./spriteMarioV1.png);
}
/*#marioRun{
    background-position:1117px -0px;

}
#marioJump{
    background-position:0px -11176px;
}*/
#leaderBoard{
    /* background-color: lightblue; */
    width: 255px;
    height: 267px;
    /* overflow: scroll; */
    text-align: center;
    position: absolute;
    top: 56%;
    left:4%;
}
#leaderBoardBody{
    width: 255px;
    height: 257px;
    overflow: scroll;
    text-align: center;
    position: absolute;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    
  }
  
   td,  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
     tr/*:nth-child(even)*/{background-color: #f2f2f2;} 
  
   tr:hover {background-color: #ddd;}
  
   th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
  }